
.summarizer {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}
.summarizer-con{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align:center;
    gap:2rem;
}
.upper-summ{
    display: flex;
    flex-direction: column;

}
.title-summ {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    h1 {
        font-size: 3.3rem;
        position: relative;
        font-weight: 500;

        

    }
    span{
        font-size:3rem;

        
    }
}
.sub-title-summ{
    width:100%;
    
    h3{
        font-style: italic;
        font-family: 'Playfair Display';
        font-size:1.3rem;
        font-weight:100;

    }
    
}
.inner-summ{
    width:60%;
    height:100%;
    overflow:hidden;
    padding:2rem;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        font-size:2rem;
        font-weight: 200;
        font-style: italic;
    }
}
.display{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filler{
    color:rgba(0, 0, 0, 0.529);
}
.Prompt{
    width:100%;
}
.spinner{
}

.response{
    width:100%;
    text-align:justify;
    padding:2.5rem 1rem;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:2rem;
    border-radius:20px 20px 0 0;
    border-bottom: none;
    overflow:scroll;
    h3{
        font-size:1.5rem;
        font-weight: 600;

    }
    p{
        font-size:1.2rem;
        line-height: 3.5vh;
    }
}

.spell{
    .Prompt .prompt textarea{
        width:90%;
    }
}



b{
    font-weight:600;
}